<div id="cartpro">
  <span class="close" onclick="closeCart()">&times;</span>
  <% for( let i = 0; i < user.products.length; i++ ) { %>
    <% element = user.products[i] %> 
    <div class="products">
      <a href="item<%= element._id %> ">
        <%= element.name %> <br />
        <%= '$'+element.price %> <br />
        
        <img
          src="data:image/jpeg;base64,<%=element.image.toString('base64')%>"
          alt=""
          class="dash-img"
        />
      </a>
    </div>
  <% } %>
  <button onclick="checkout()" class="hlinks">Checkout</button>
  <button onclick="clear()" class="hlinks" >Clear All</button>
</div>

<script>
  function openCart() {
    document.getElementById('cartpro').style.top = '0px';
    document.getElementById('cartpro').style.right = '0px';
    document.getElementById('main').style.display = 'none';
  }

  function closeCart() {
    document.getElementById('cartpro').style.top = '10000px';
    document.getElementById('cartpro').style.right = '10000px';
    document.getElementById('main').style.display = 'block';
  }
  async function checkout() {
    await fetch('/checkout')
    console.log('555555555');
    window.location.reload()
  }
  async function clear() {
    await fetch('/clear')
    window.location.reload()  }
</script>
