<div class="headern">
  <span class="sn" onclick="openNav()">&#9776;</span>
  <div class="logo">
    <img class="logoimg" src="images/logo.png" alt="" /><br />
    Coronacopia
  </div>
  <div class="search">
    <input class="sbar" onkeyup="autoc()" type="text" id="search" />
    <button class="sbtn" onclick="clicksear()">
      <i class="fas fa-search"></i>
    </button>
  </div>
  <div class="profile">
    <img
      class="profileimg"
      src="https://api.adorable.io/avatars/100/<%= user.name %> "
      alt=""
    />
  </div>
  <div class="cart" onclick="openCart()">
    <i class="fas fa-shopping-cart"></i> &nbsp;<%= user.products.length %>
  </div>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Lemon&family=Syne:wght@500&display=swap');

</style>
