<div class="header">
  <span class="sn" onclick="openNav()">&#9776;</span>
  <div class="logo">
    <img class="logoimg" src="images/logo.png" alt="" /><br />
    Coronacopia
  </div>
  <div class="search">
    <input class="sbar" onkeyup="autoc()" type="text" id="search" />
    <button class="sbtn" onclick="clicksear()">
      <i class="fas fa-search"></i>
    </button>
  </div>
  <div class="profile">
    <img
      class="profileimg"
      src="https://api.adorable.io/avatars/100/<%= user.name %> "
      alt=""
    />
  </div>
  <div class="cart">
    <i class="fas fa-shopping-cart"></i> &nbsp;<%= user.products.length %>
  </div>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Lemon&family=Syne:wght@500&display=swap');
  .sn,
  .cart {
    font-size: 60px;
    cursor: pointer;
    justify-self: center;
    color: white;
    display: flex;
    align-items: center;
  }

  .logoimg,
  .profileimg {
    width: 60px;

    border-radius: 50%;
  }
  .logo,
  .profile {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-family: 'lemon', cursive;
    color: white;
    justify-self: center;
    align-self: center;
  }
  .sbtn {
    width: 50px;
    height: 43px;
    margin: 0;
    font-size: 20px;
    border: none;
    background: none;
  }
  .search {
    display: flex;
    padding: 10px;
    width: 90%;
    height: 43px;
    background-color: white;
    border-radius: 10px;
    margin: 20px auto;
  }
  .sbar {
    width: 96%;
    height: 40px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .header {
    display: grid;
    grid-template-columns: 1fr 2fr 19fr 1fr 2fr;
    background-image: linear-gradient(
      15deg,
      #13547a 0%,
      #80d0c7 50%,
      #13547a 100%
    );
  }
</style>
