<% include ('navbar') %>
<div class="header">
<img src="images/bg3.jpg" class="texture" alt="" />
<img src="images/bg2.jpg" alt="" class="texture" />
<p class="title">
  Corona Supplies for the humans <br />
  by the humans <br />
  aided by the Coronacopia <br />

  <a href="signin" class="hlinks">Buy Now!</a class="hlinks">
  <a href="sellerlogin" class="hlinks">Sell Now!</a class="hlinks">

</div>

</p>