<div class="topnav">
  <a href="#" class="brand">Cornucopia</a>
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>
<style>
  body {
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  }
  .brand img {
    width: 30px;
    filter: hue-rotate(129deg);
  }
  .topnav {
    background-color: transparent;
    overflow: hidden;
  }
  .brand {
    float: left !important;
    font-size: 2vw !important;
    font-family: 'lemon', cursive;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;

    font-weight: bolder;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    color: white;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-clip: text;
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    color: transparent;
  }
</style>
