<div class="topnav">
  <a href="#" class="brand">Coronacopia</a>

  <a href="#contact">Contact</a>
  <a href="#about">About Us</a>
  <a href="#news">Sign Up</a>
  <a href="#news">Sign In</a>
  <a class="active" href="#home">Home</a>
</div>
