<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cornucopia</title>
  </head>
  <body>
    <%- include ('partials/sidenav') %>
    <div id="main"><%- include ('partials/header') %></div>
    <% for( let i = 0; i < items.length; i++ ) { %> <% } %>
    <script
      src="https://kit.fontawesome.com/c5b9bcd338.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
