<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="images/shopping-cart.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="main.css" />
    <title>Cornucopia</title>
  </head>
  <body>
    <%- include ('partials/navbar') %> <%- include ('partials/header') %>
    <a href="#end"
      ><div class="arrow">
        <span></span>
        <span></span>
        <span></span></div
    ></a>
    <script src="index.js"></script>
  </body>
</html>
